---
import { Image } from 'astro:assets';
import socialsData from "../data/social.json";


enum Type {
  linkedIn = "LinkedIn",
  gitHub = "GitHub",
  twitter = "Twitter",
  instagram = "Instagram",
  email = "Email",
  tiktok = "TikTok",
}

const iconsMap = {
  emailImage: '/svg/icons/email.svg',
  githubImage: '/svg/icons/github.svg',
  instagramImage: '/svg/icons/instagram.svg',
  linkedInImage: '/svg/icons/linkedin.svg',
  tiktokImage: '/svg/icons/tiktok.svg',
};

const fallbackIcon = iconsMap.linkedInImage; 

const socials = socialsData.map((social) => ({
  ...social,
  icon: iconsMap[social.icon] || fallbackIcon,
}));

const getColor = (type: Type) =>
  socials.find((social) => social.name === type)?.color;
const getClass = (type: Type) =>
  `scale-100 rounded-full border-2 border-gray-950 ${getColor(
    type
  )} transition duration-300 hover:scale-110 animate-zoom-in`;
---

<div class="grid grid-cols-3 gap-3 duration-500 md:grid-flow-col md:gap-2">
  {
    socials.map((s) => (
      <a
        aria-label={s.name}
        class={getClass(s.name)}
        href={s.url}
        target="_blank"
        rel="nofollow noopener"
      >
        <Image class="size-14 p-3 md:size-16" src={s.icon} alt={s.name} height={30} width={30} />
      </a>
    ))
  }
</div>
